
#allTitle  button{
    
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10%;
    color: rgb(22, 23, 23);
    background-color:rgb(127, 186, 189); 
   margin: auto;
display: flex;
justify-content: center;
padding-top: 5px;


 margin-top: 10px;
  font-size: x-large;
  box-shadow:  2px 2px 1px 1px rgb(16, 132, 143);
cursor: pointer;

}

  #allTitle  button:hover{
background-color:rgb(140, 204, 208);

    
 }
   #allTitle  #btn:hover{
background-color:rgb(225, 224, 225) ; 
 }

 #main{
    
    background-color: rgb(129, 178, 184);
    color: rgb(7, 7, 7);
    text-align: center;
    font-size:50px;
   border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
justify-content: center;
margin: auto;
margin-top: 150px;
font-style: normal;
box-shadow: 4px 3px 1px 2px rgb(72, 72, 72),-5px -4px 1px 2px rgb(109, 110, 110) ;
cursor: pointer;
}
#main:hover{
  background-color: rgb(130, 174, 188); 
  box-shadow: 4px 3px 1px 2px rgb(109, 110, 110), -5px -4px 1px 2px  rgb(72, 72, 72);

 
}
body{
 
   background-color: rgb(224, 231, 233);
    position: relative;

}
       #zr1{
        color: #f7ebeb;
    background-color: rgb(7, 162, 80);
    cursor: pointer;
    width: 70%;
    height: 30px;
    font-size:20px ;
    border-radius: 10%;

margin: auto;
text-align: center;
border: none;
}
#textTitle {
  
    border-radius: 30px;
    font-size: 20px;
    text-align: center;

}

#textTitle2{
       border-radius: 30px;
       text-align: center;
 font-size: 20px;

}
#textTitle3{
       border-radius: 30px;
       text-align: center;
 font-size: 20px;

}
#textTitle4{
       border-radius: 30px;
       text-align: center;
 font-size: 20px;
}
#textTitle5{
       border-radius: 30px;
text-align: center;
 font-size: 20px;

}
#textTitle6{
       border-radius: 30px;

text-align: center;
 font-size: 20px;


}
.hide{
    display: none;
}
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6{
   
    background-color: rgb(188, 195, 196);
    color: rgb(39, 39, 39);
    border-radius: 20%;
 width: 25%;
 height: 50%;
 text-align: center;
    font-size: x-large;
    cursor: pointer;
   border: none;
  position: relative;
top: -20%;
left: 40%;
}


#zr1:hover{

        width: 50%;
        
        color: #121213;
    cursor: pointer;

    
}
#zr1.finish{
    color: rgb(255, 255, 255);
    background-color: rgb(251, 10, 10);
}
.box{
    background-color:  rgb(127, 186, 189);
    border: 0px solid rgb(220, 227, 227);
    border-radius: 10%;
     margin: auto;
    margin: 15px;
    box-shadow: 5px 5px 1px 2px rgb(44, 105, 124) ;
  padding: 10px;
}
#bttn {
    background-color:#c2c9ca;
   text-align: center;
font-size:150%;
    border: none;
    border-radius: 50%;
   position: fixed;

   bottom: 20%;
   right: 1%;
   display: inline-block;
display: none;
cursor: pointer;

}
.box p {
    color: rgb(5, 5, 5);
    letter-spacing: 5px;
    word-spacing: 5px;
}
  #allTitle  #btn{
  
     background-color: rgb(172, 175, 175);
    color: rgb(39, 39, 39);
    border-radius: 20%;
 width: 25%;
 height: 20%;
 text-align: center;
    font-size: x-large;
    cursor: pointer;
   border: none;
  position: relative;
top: 0%;
left: 80%;


  }
 
  #titles{
    background-color: rgb(217, 216, 216);
    width: 100%;
  
   text-align: center;
padding-top: 25px;
font-size: large;
word-spacing: 8px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: fixed;
top: -18px;
left: 0px;

  }
    #togleButton{
  border-radius: 50%;
    text-align: center;
  margin-top: 60px;
 border: none;
   font-size: 30px;
 cursor: pointer;
  background-color:hsl(180, 1%, 65%) ;
  }
  .night{
    background-color: rgb(82, 82, 82);
    color: rgb(251, 253, 253);

  }
  .night #togleButton{
    background-color: rgb(19, 20, 20);
    color: aliceblue;
    cursor: pointer;
    font-size: 30px;

  }
   #togleButton:hover{
    background-color: rgb(157, 161, 162);
  }
    .night #togleButton:hover{
    background-color: #0f0f0f;
  }
  .night #main{
    background-color: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
  }
  .night #titles{
    background-color:   rgb(9, 9, 9);  
    color: rgb(255, 255, 255);
  }
  .night #allTitle button{
    background-color: rgb(75, 75, 75);
      box-shadow:  2px 2px 1px 1px rgb(8, 3, 8);
      color: #ffffff;
  }
  .night #allTitle #btn{
    background-color:   rgb(0, 0, 0);
    color: #ffffff;
  }
  .night #bttn{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
  
  .night  .azkar2,.azkar1,.azkar3{
color: rgb(212, 212, 212);
  }
  .night .box{
    background-color:rgb(64, 61, 64);
      box-shadow: 5px 5px 1px 2px rgb(0, 0, 0); ;
    
  }
  .night .box p{
    color: #dbdbdb;
  }
  .night #zr1{
    background-color: rgb(7, 162, 80) ;
  }
  .night #zr1.finish{
    color:rgb(212, 212, 212);
    background-color: rgb(214, 3, 3);
}
.night   #allTitle  #btn:hover{
   
    background-color: #222122;
  }

  .night #btn1{
    background-color: #000000;
    color: #ffffff;
  }
     .azkar2,.azkar1,.azkar,.azkar3,.azkar6{
color: rgb(17, 17, 17);
  }
  .night .azkar3{
color: rgb(212, 212, 212);
  }
    .night .azkar6{
color: rgb(212, 212, 212);
  }
    .night .azkar{
color: rgb(212, 212, 212);
  }
  #btn2{
    background-color: rgb(172, 175, 175);
    color: #121213;
  }
  .night #btn2{
    background-color: #000000;
    color: aliceblue;
  }
   #btn3{
    background-color: rgb(172, 175, 175);
    color: #121213;
  }
  .night #btn3{
    background-color: #000000;
    color: aliceblue;
  }
  #btn4{
    background-color: rgb(172, 175, 175);
    color: #121213;
  }
  .night #btn4{
    background-color: #000000;
    color: aliceblue;
  }
   #btn5{
    background-color: rgb(172, 175, 175);
    color: #121213;
  }
  .night #btn5{
    background-color: #000000;
    color: aliceblue;
  }
     #btn6{
    background-color: rgb(172, 175, 175);
    color: #121213;
  }
  .night #btn6{
    background-color: #000000;
    color: aliceblue;
  }
   .night #allTitle button:hover{
    background-color: #393939;
   }
   #allTitle #sban{
    margin-top: 50px;
  }
     #allTitle #masaaa{
    margin-top: 10px;
  }
  
 #allTitle #noomAfter{
  font-size: large;
 }